.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#494949, 0.5);
  z-index: 2;
}

.modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 24px;
  width: 75%;
  height: 320px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 100;

  h2 {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666;

    strong {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .content-wrap {
    dl {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      background-color: #F8F8F8;

      .content-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;

        &~.content-li {
          border-top: 1.5px solid #fff;
        }

        dt {
          width: 30%;
          font-size: 0.8rem;
          font-weight: 300;
          color: #888;
        }

        dd {
          width: 70%;
          font-size: 0.95rem;
          font-weight: 400;
          color: #777;
          letter-spacing: -0.5px;
        }
      }
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    button {
      height: 35px;
      background-color: #FDDC3F;
      border-radius: 5px;
      font-weight: 600;
      font-size: 1rem;

      &.submit-btn {
        width: 60%;
        color: #666;
      }

      &.cancel-btn {
        width: 35%;
        background-color: #bbb;
        color: #fff;
      }
    }
  }
}