.appointmentList-wrap {
  .info-wrap {
    margin: 35px 0 25px;
    font-size: 0.8rem;
    color: #444;

    .name-wrap {
      margin-bottom: 10px;
      font-size: 1rem;

      .name {
        padding-right: 3px;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .types {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 0 5px;
      padding: 8px;
      font-size: 0.85rem;
      background-color: #fff;
      // border: 2.5px solid #ccc;
      border-radius: 5px;

      li {
        position: relative;
        padding-left: 7px;
        margin-right: 23px;
      }

      li:last-child {
        margin-right: 0px;
      }

      li::before {
        content: '';
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        top: 3.5px;
        left: -8px;
        border-radius: 50%;
      }

      .standby::before {
        background-color: #CF8BFC;
      }

      .cancelled::before {
        background-color: #666666;
      }

      .completed::before {
        background-color: #FDDC3F;
      }
    }

    .info {
      font-size: 0.75rem;
      color: #888;
    }
  }

  .items-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}