.wrap {
  overflow: auto;

  .prev-appointment-wrap {
    background-color: rgba(#bbb, 0.2);
    padding: 10px;
    font-size: 0.92rem;
    text-align: center;
    color: #888;

    strong {
      font-weight: 600;
    }
  }

  .date-wrap {
    margin-top: 20px;

    .sub-tit {
      display: flex;
      align-items: center;
      padding: 8px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-size: 1.1rem;
      color: #777;

      .icon {
        margin-right: 6px;
        width: 16px;
        fill: #888;

        &.time {
          width: 19px;
        }
      }
    }

    .date-btn-wrap {
      position: relative;
      display: flex;
      margin: 20px 0;
      width: 100%;
      overflow: auto;
      white-space: nowrap;
    }

    .time-btn-wrap {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      row-gap: 8px;
      flex-wrap: wrap;
    }

    .submit-btn {
      margin-top: 15px;
      padding: 14px 0;
      width: 100%;
      border-radius: 5px;
      background-color: #FDDC3F;
      font-size: 1.2rem;
      font-weight: bold;
      color: #666;
    }
  }
}