.wrap {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 33px;
  padding: 13px 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  // box-shadow: 0 4px 20px 4px #dadada;

  li {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      font-size: 1rem;
      color: rgba(#666, 0.5);
      transition: 0.2s all;

      .icon {
        fill: #666;
        fill-opacity: 0.5;
        pointer-events: none;
      }

      span {
        pointer-events: none;
      }

      &.active {
        font-weight: bold;
        color: #666;

        .icon {
          fill-opacity: 1;
        }
      }
    }
  }
}