.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // height: 100vh;

  .top {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  .container-wrap {
    margin-top: 80px;
    margin-bottom: 70px;
    padding: 20px 40px;
    height: 100%;
    background-color: #F8F8F8;
  }
}