.appointmentItem-wrap {
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  color: #666;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(#ccc, 0.5);

  .title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 35px 2px 20px;
    font-size: 1.15rem;
    font-weight: 600;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      top: 6px;
      left: -15px;
      border-radius: 50%;
    }

    &.WAITING::before {
      background-color: #CF8BFC;
    }

    &.CANCELED::before {
      background-color: #666666;
    }

    &.DONE::before {
      background-color: #FDDC3F;
    }

    svg {
      position: absolute;
      top: 50%;
      right: -25px;
      display: block;
      transform: translateY(-50%);
    }
  }




  .more {
    padding: 20px 15px 5px;
    color: #777;

    ul {
      margin-bottom: 14px;
      font-size: 1rem;

      li {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;

        span:first-child {
          flex: 0.4;
          font-weight: bold;
        }

        span:last-child {
          flex: 0.6;
        }
      }
    }
  }
}

.btn-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;

  button {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    color: #666;
    font-size: 1rem;
    font-weight: bold;

  }

  button:first-child {
    margin-right: 16px;
    background-color: #FDDC3F;

    &:disabled {
      background-color: #ddd;
      color: #999;
    }
  }

  button:last-child {
    margin-right: 0;
    border: 2px solid #CCC;
    background-color: #FFF;

    &:disabled {
      background-color: #ddd;
      color: #999;
      border: none;
    }
  }
}