.toggle-wrap {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(#ccc, 0.5);
  z-index: 1;

  .bar {
    position: absolute;
    top: 5px;
    left: 1.5%;
    right: 1.5%;
    bottom: 5px;
    width: 47%;
    border-radius: 25px;
    background-color: #FDDC3F;
    transition: all 0.2s;
    pointer-events: none;
    z-index: -1;
  }

  button {
    width: 50%;
    padding: 5px 0;
    font-size: 0.87rem;
    color: #999;
    border-radius: 20px;

    &.active {
      font-weight: 600;
      color: #666;

      &.appointment-number~.bar {
        margin-left: 50%;
      }
    }
  }
}